<!--<div class="card">-->
<!--	<div class="grid flex justify-content-center flex-wrap card-container">-->
<!--		<div class="col-6">-->
<!--		<span class="p-float-label">-->
<!--			<input [(ngModel)]="username" id="username" pInputText type="text">-->
<!--			<label for="username">Username</label>-->
<!--		</span>-->
<!--			&lt;!&ndash;				<input [(ngModel)]="username" pInputText placeholder="Username" type="text">&ndash;&gt;-->
<!--			&lt;!&ndash;				<ng-template pTemplate="footer">&ndash;&gt;-->
<!--			<button (click)="login()" pButton type="button">Log in</button>-->
<!--		</div>-->
<!--		&lt;!&ndash;				<button (click)="logout()" pButton type="button">Log out</button>&ndash;&gt;-->
<!--		&lt;!&ndash;				</ng-template>&ndash;&gt;-->
<!--	</div>-->
<!--</div>-->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
	<div class="text-700 text-center">
		<!--		<div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD</div>-->
		<div class="text-900 font-bold text-5xl mb-3">Insert your name</div>
		<div class="text-700 text-2xl mb-5">
				<span class="p-float-label">
					<input [(ngModel)]="username" id="username" pInputText type="text" placeholder="Username" required name="username">
<!--											<label for="username">Username</label>-->
				</span>
		</div>
		<button pButton pRipple label="Log in" icon="pi pi-sign-in"
				class="font-bold px-5 py-3 p-button-raised white-space-nowrap" (click)="login()" [disabled]="!username" ></button>
	</div>
</div>
